@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2 class="m-0 text-center font-weight-bold text-secondary">الصفحه الرئيسية</h2>
    </div>
</div>
<div class="d-flex">
    <img src="~/img/home.jpg" style="background-size:cover;overflow: hidden;" />
</div>
