@model MerchantViewModel
@{
    ViewData["Title"] = "Add";
}

<div class="bg-light rounded my-4 row">
    <h2 class="p-4 fw-bold text-center text-secondary">اضافة تاجر جديد</h2>
</div>

<div class="row  bg-light rounded my-4">
    <div class="col-md-12">

        <form asp-controller="Merchant" asp-action="Add" class="" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>

            <div class="d-flex flex-wrap">
                <div class="form-group col-md-4 p-3">
                    <label asp-for="Name">الاسم</label>
                    <input type="text" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="Email">البريد الالكتروني</label>
                    <input type="email" class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="Phone">رقم الهاتف</label>
                    <input asp-for="Phone" type="text" class="form-control">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                
                
                <div class="form-group col-md-4 p-3">
                    <label for="Password">الرقم السري</label>
                    <input type="password" class="form-control" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="Address">العنوان</label>
                    <input type="text" class="form-control" asp-for="Address">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div> 
                <div class="form-group col-md-4 p-3">
                    <label asp-for="Government">المحافظة</label>
                    <select id="state" asp-for="Government" class="form-control">
                        <option value="">اختر محافظة</option>
                        @foreach (var state in ViewBag.States)
                        {
                            <option value="@state.Name">@state.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="City">المدينة</label>
                    <select id="city" asp-for="City" class="form-control">
                        <option value="">اختر مدينة</option>
                    </select>
                </div>

                <div class="form-group col-md-4 p-3">
                    <label asp-for="BranchName" class="control-label">الفرع</label>
                    <select id="branch"  asp-for="BranchName" class="form-select" >
                        <option value=""> اختر فرع</option>
                    </select>
                    <span asp-validation-for="BranchName" class="text-danger"></span>
                </div>
                
                
                

                <div class="form-group col-md-4 p-3">
                    <label asp-for="PickUpPrice">سعر pick up</label>
                    <input type="number" class="form-control" asp-for="PickUpPrice">
                    <span asp-validation-for="PickUpPrice" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="RefuseCostPercent">تحمل التاجر عند الرفض</label>
                    <input type="number" class="form-control " asp-for="RefuseCostPercent">
                    <span asp-validation-for="RefuseCostPercent" class="text-danger"></span>
                </div>
            </div>

            <div class="m-3" style="position: relative;height: 10vh;">
                <button type="submit" class="btn btn-outline-primary">إضافة</button>
                <a asp-controller="Merchant" asp-action="Index" class="btn btn-outline-secondary">إلغاء</a>

            </div>
        </form>
    </div>
</div>
@section scripts{
    
    <script>
        $(document).ready(function () {
            var stateDropdown = $('#state');
            var cityDropdown = $('#city');

            stateDropdown.on('change', function () {
                var selectedState = stateDropdown.val();

                cityDropdown.empty();

                $.ajax({
                    url: '/Merchant/GetCitiesByState',
                    type: 'GET',
                    data: { state: selectedState },
                    success: function (result) {
                        $.each(result, function (index, city) {
                            cityDropdown.append($('<option></option>').val(city).text(city));
                        });
                    },
                    error: function () {
                        console.log('Failed to retrieve cities.');
                    }
                });
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            var stateDropdown = $('#state');
            var branchDropdown = $('#branch');

            stateDropdown.on('change', function () {
                var selectedState = stateDropdown.val();

                branchDropdown.empty();

                $.ajax({
                    url: '/Merchant/GetBranchesByState',
                    type: 'GET',
                    data: { state: selectedState },
                    success: function (result) {
                        $.each(result, function (index, branch) {
                            branchDropdown.append($('<option></option>').val(branch).text(branch));
                        });
                    },
                    error: function () {
                        console.log('Failed to retrieve Branches.');
                    }
                });
            });
        });

    </script>

}