@model MerchantViewModel
@{
    ViewData["Title"] = "Add";
}

<div class="bg-light rounded my-4 row">
    <h2 class="p-4 fw-bold">اضافة تاجر جديد</h2>
</div>

<div class="row  bg-light rounded my-4">
    <div class="col-md-12">

        <form asp-controller="Merchant" asp-action="Add" class="" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>

            <div class="d-flex flex-wrap">
                <div class="form-group col-md-4 p-3">
                    <label asp-for="Name">الاسم</label>
                    <input type="text" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="Email">البريد الالكتروني</label>
                    <input type="email" class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="Phone">رقم الهاتف</label>
                    <input asp-for="Phone" type="text" class="form-control">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                
                
                <div class="form-group col-md-4 p-3">
                    <label for="Password">الرقم السري</label>
                    <input type="password" class="form-control" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="Address">العنوان</label>
                    <input type="text" class="form-control" asp-for="Address">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div> 
                <div class="form-group col-md-4 p-3">
                    <label asp-for="Government" class="control-label">المحافظة</label>
                    <select asp-for="Government" class="form-select" asp-items="@ViewBag.StatesList">
                        <option value="">-- Select Government --</option>
                    </select>
                    <span asp-validation-for="Government" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="BranchName" class="control-label">الفرع</label>
                    <select asp-for="BranchName" class="form-select" asp-items="@ViewBag.BranchList">
                        <option value="">-- Select Branch --</option>
                    </select>
                    <span asp-validation-for="BranchName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="City" class="control-label">المدينة</label>
                    <select asp-for="City" class="form-select" asp-items="@ViewBag.CitiesList">
                        <option value="">-- Select City --</option>
                    </select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                

                <div class="form-group col-md-4 p-3">
                    <label asp-for="PickUpPrice">سعر pick up</label>
                    <input type="number" class="form-control" asp-for="PickUpPrice">
                    <span asp-validation-for="PickUpPrice" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 p-3">
                    <label asp-for="RefuseCostPercent">تحمل التاجر عند الرفض</label>
                    <input type="number" class="form-control " asp-for="RefuseCostPercent">
                    <span asp-validation-for="RefuseCostPercent" class="text-danger"></span>
                </div>
            </div>

            <div class="m-3" style="position: relative;height: 10vh;">
                <button type="submit" class="btn btn-primary px-3 " style="position: absolute;left: 0;bottom: 15%;">اضافة</button>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}