@model MerchantEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="bg-light rounded my-4 row">
    <h2 class="p-4 fw-bold text-center text-secondary">تعديل بيانات التاجر</h2>
</div>


<form asp-controller="Merchant" asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="d-flex flex-wrap  bg-light rounded my-4">

        <div class="form-group col-md-4 p-3">
            <label asp-for="Name">الإسم</label>
            <input type="text" class="form-control" asp-for="Name">
        </div>
        <div class="form-group col-md-4 p-3">
            <label asp-for="Email">البريدالإلكتروني</label>
            <input type="email" class="form-control" asp-for="Email">
        </div>
        <div class="form-group col-md-4 p-3">
            <label asp-for="Phone">رقم الهاتف</label>
            <input asp-for="Phone" type="text" class="form-control">
        </div>
        <div class="form-group col-md-4 p-3">
            <label asp-for="Government">المحافظة</label>
            <select asp-for="Government" class="form-select role-select" asp-items="@ViewBag.StatesList">
            </select>
            <span asp-validation-for="Government" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4 p-3">
            <label asp-for="BranchName">الفرع</label>
            <select asp-for="BranchName" class="form-select role-select" asp-items="@ViewBag.BranchList">
            </select>
            <span asp-validation-for="BranchName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4 p-3">
            <label asp-for="City">المدينة</label>
            <select asp-for="City" class="form-select role-select" asp-items="@ViewBag.CitiesList">
            </select>
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4 p-3">
            <label asp-for="Address">العنوان</label>
            <input type="text" class="form-control" asp-for="Address">
        </div>

        <div class="form-group col-md-4 p-3">
            <label asp-for="PickUpPrice">سعر الإستلام من مقر الشركة</label>
            <input type="number" class="form-control" asp-for="PickUpPrice">
        </div>
        <div class="form-group col-md-4 p-3">
            <label asp-for="RefuseCostPercent">تكلفة رفض الشحنة</label>
            <input type="number" class="form-control" asp-for="RefuseCostPercent">
        </div>
        <div class="m-3" style="position: relative;height: 10vh;">
            <button type="submit" class="btn btn-outline-primary">حفظ</button>
            <a asp-controller="Merchant" asp-action="Index" class="btn btn-outline-secondary">إلغاء</a>
        </div>

    </div>
   

   
</form>



@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}