
@{
    ViewData["Title"] = "Confirmation";

}
@*
<div class="alert alert-success"> تم تغير الرقم السري بنجاح اضغط هنا 
    <a asp-action="Login" class="btn btn-success">تسجيل الدخول</a>
    </div>
*@

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2 class="m-0 text-center font-weight-bold text-secondary">تم تغير الرقم السري بنجاح</h2>
    </div>
    <div class="card-body py-3 m-auto">
        <a asp-action="Login" class="btn btn-success">تسجيل الدخول</a>
    </div>
</div>
