@inject IAuthorizationService AuthorizationService


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Shipping System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Controls.View).Result.Succeeded)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-action="ListRoles" asp-controller="Administration">الصلاحيات</a>
                    </li>
                }
                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Employees.View).Result.Succeeded)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-action="Index" asp-controller="Employee">الموظفين</a>
                    </li>
                }
                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Deliveries.View).Result.Succeeded)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-action="Index" asp-controller="Delivery">المناديب</a>
                    </li>
                }
                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Merchants.View).Result.Succeeded)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-action="Index" asp-controller="Merchant">التجار</a>
                    </li>
                }
                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Branches.View).Result.Succeeded)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-action="Index" asp-controller="Branch">الافرع</a>
                    </li>
                }
                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Staties.View).Result.Succeeded)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-action="Index" asp-controller="State">المحافظات</a>
                    </li>
                }
            </ul>
            <ul class="navbar-nav me-auto">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">تسجيل الدخول</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark">مرحبا @User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ChangePassword">تغيير الرقم السري</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">تسجيل الخروج</a>
                    </li>
                }



            </ul>
        </div>
    </div>
</nav>