@{
    ViewData["Title"] = "Not Allowed";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">غير مسموح</div>
        <p class="lead text-gray-800 mb-5">Page Not Allowed</p>
        <p class="text-gray-500 mb-0">ليس لديك الصلاحيه للدخول لتلك الصفحة ...</p>
        <a href="index.html">&larr; الرجوع للصفحه الرئيسية</a>
    </div>

</div>
<!-- /.container-fluid -->
