@model EditRoleViewModel

@{
    ViewData["Title"] = "Edit Role";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2 class="m-0 text-center font-weight-bold text-secondary">تعديل المجموعه</h2>

    </div>
    <div class="card-body">
        <form asp-controller="Administration" asp-action="EditRole" method="post">
            <div class="form-group d-none col-md-4 p-1 d-flex align-items-center ">
                <label asp-for="RoleId" class="form-label"></label>
                <input asp-for="RoleId" disabled class="form-control" />
                <input asp-for="RoleId" hidden class="form-control" />
            </div>
            <div class="d-flex justify-content-around align-items-center" style="height:30vh;">
             <div class="form-group col-md-4 p-1 d-flex align-items-center ">
                <label asp-for="RoleName" class="col-4"> اسم المجموعه : </label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-4">
                <button type="submit" class="btn btn-outline-success col-6 mx-2">حفظ</button>
                <a asp-controller="Administration" asp-action="ListRoles" class="btn btn-secondary col-3">إلغاء</a>
            </div>
            </div>
        </form>
    </div>
    
</div>