@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <a asp-action="ListUsers" asp-controller="Administration">List of Users</a>
    <a asp-action="ListRoles" asp-controller="Administration">List of Roles</a>
</div>
